%html
%head
  %title Cookbook
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag
  
  = stylesheet_link_tag 'admin/admin', 'formtastic', 'formtastic_changes'


%body
  %h1 Cookbook Admin
  = link_to 'Categories', admin_categories_path
  = link_to 'Dish', admin_dishes_path
  
  #notice
    %p= notice
    
  %hr

  = yield
 
